>>>>  Software  >>>>>>>>>>|   (dummy directory acting as a headline)
vim reddit|url:https://www.reddit.com/r/vim/.rss
Free as in Freedom|url:http://faif.us/feeds/cast-ogg/
Bug Report|url:https://bugreport.co.uk/bug_report_ogg.rss
>>>>  Cat pictures  >>>>>>|   (dummy directory acting as a headline)
Lolcats|url:http://feeds.feedburner.com/icanhascheezburger/ichclolcats

# Lines that don't contain a pipe character are ignored
# Every valid line represents one feed
# On every line:
#   1. Start with the feed name
#   2. Append a pipe character
#   3. Use `url:` to fetch from a URL
#       or `shellcondition:` to execute a shell command and check for a non-zero exit code
#       or `shell:` to execute a shell command
#   4. (optionally) Go to 2.
