>>>>  Software  >>>>>>>>>>|   (dummy directory acting as a headline)
vim reddit|url:https://www.reddit.com/r/vim/.rss
Free as in Freedom|url:http://faif.us/feeds/cast-ogg/
Bug Report|url:https://bugreport.co.uk/bug_report_ogg.rss
>>>>  Cat pictures  >>>>>>|   (dummy directory acting as a headline)
Lolcats|url:http://feeds.feedburner.com/icanhascheezburger/ichclolcats
